@import 'config';
// libs
@import '~bulma';
@import '~buefy/src/scss/buefy.scss';

body{
  font-family: 'Roboto';
  font-weight: 400;
  background: #f5f5f5;
}
.title{
  font-weight: 300;
}
.subtitle{
  font-weight: 300;
}
.list-enter-active,
.list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to{
  opacity: 0;
  transform: scale(0.9);
}

.masonry{
  column-width: 10em;
  column-gap: 1.4em;
  column-count: 4;
  &__item{
    display: inline-block;
    margin: 0 0 1.5em;
    width: 100%;
    break-inside: avoid;
  }
}
// fixs
.preview-img-item {
  margin: 0px;
  max-width: auto;
  max-height: auto;
}
