@import 'config';
// libs
@import '~bulma';
@import '~buefy/src/scss/buefy.scss';

body{
  font-family: 'Roboto';
  font-weight: 400;
}
.title{
  font-weight: 300;
}
.subtitle{
  font-weight: 300;
}
.label{
  font-weight: 400;
}

.list-enter-active,
.list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to{
  opacity: 0;
  transform: scale(0.9);
}

.masonry{
  column-width: 16em;
  column-gap: 1.6em;
  column-count: 3;
  &__item{
    display: inline-block;
    margin: 0 0 1.3em;
    width: 100%;
    break-inside: avoid;
  }
  @media screen and (max-width: 600px) {
    column-count: 1;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 1.5rem;
  }
}

// fixs
.preview-img-item {
  margin: 0px;
  max-width: none;
  max-height: none;
}
